:root {
  --typography-about-carddescription-font-family: "Open Sans", Helvetica;
  --typography-about-carddescription-font-weight: 400;
  --typography-about-carddescription-font-size: 16px;
  --typography-about-carddescription-letter-spacing: 1px;
  --typography-about-carddescription-line-height: 32px;
  --typography-about-carddescription-font-style: normal;
  --typography-about-carddescription-hover-font-family: "Open Sans", Helvetica;
  --typography-about-carddescription-hover-font-weight: 400;
  --typography-about-carddescription-hover-font-size: 16.468467712402344px;
  --typography-about-carddescription-hover-letter-spacing: 1.0292792320251465px;
  --typography-about-carddescription-hover-line-height: 32.93693542480469px;
  --typography-about-carddescription-hover-font-style: normal;
  --typography-about-cardtitle-font-family: "Amatic SC", Helvetica;
  --typography-about-cardtitle-font-weight: 400;
  --typography-about-cardtitle-font-size: 35px;
  --typography-about-cardtitle-letter-spacing: 2px;
  --typography-about-cardtitle-line-height: 70px;
  --typography-about-cardtitle-font-style: normal;
  --typography-about-cardtitle-hover-font-family: "Amatic SC", Helvetica;
  --typography-about-cardtitle-hover-font-weight: 400;
  --typography-about-cardtitle-hover-font-size: 36.02477264404297px;
  --typography-about-cardtitle-hover-letter-spacing: 2.058558464050293px;
  --typography-about-cardtitle-hover-line-height: 72.04954528808594px;
  --typography-about-cardtitle-hover-font-style: normal;
  --typography-button-arrow-font-family: "Amatic SC", Helvetica;
  --typography-button-arrow-font-weight: 400;
  --typography-button-arrow-font-size: 34px;
  --typography-button-arrow-letter-spacing: 1px;
  --typography-button-arrow-line-height: 40.79999923706055px;
  --typography-button-arrow-font-style: normal;
  --typography-button-arrow-hover-font-family: "Amatic SC", Helvetica;
  --typography-button-arrow-hover-font-weight: 400;
  --typography-button-arrow-hover-font-size: 37.317073822021484px;
  --typography-button-arrow-hover-letter-spacing: 1.097561001777649px;
  --typography-button-arrow-hover-line-height: 44.780487060546875px;
  --typography-button-arrow-hover-font-style: normal;
  --typography-button-large-font-family: "Open Sans", Helvetica;
  --typography-button-large-font-weight: 400;
  --typography-button-large-font-size: 14px;
  --typography-button-large-letter-spacing: 1px;
  --typography-button-large-line-height: 17.5px;
  --typography-button-large-font-style: normal;
  --typography-button-medium-font-family: "Open Sans", Helvetica;
  --typography-button-medium-font-weight: 400;
  --typography-button-medium-font-size: 13px;
  --typography-button-medium-letter-spacing: 1px;
  --typography-button-medium-line-height: 16.25px;
  --typography-button-medium-font-style: normal;
  --typography-contact-carddescription-font-family: "Open Sans", Helvetica;
  --typography-contact-carddescription-font-weight: 400;
  --typography-contact-carddescription-font-size: 15px;
  --typography-contact-carddescription-letter-spacing: 1px;
  --typography-contact-carddescription-line-height: 30px;
  --typography-contact-carddescription-font-style: normal;
  --typography-contact-carddescription-hover-font-family: "Open Sans", Helvetica;
  --typography-contact-carddescription-hover-font-weight: 400;
  --typography-contact-carddescription-hover-font-size: 15.242915153503418px;
  --typography-contact-carddescription-hover-letter-spacing: 1.0161943435668945px;
  --typography-contact-carddescription-hover-line-height: 30.485830307006836px;
  --typography-contact-carddescription-hover-font-style: normal;
  --typography-contact-cardsubtitle-font-family: "Open Sans", Helvetica;
  --typography-contact-cardsubtitle-font-weight: 400;
  --typography-contact-cardsubtitle-font-size: 14px;
  --typography-contact-cardsubtitle-letter-spacing: 1px;
  --typography-contact-cardsubtitle-line-height: 28px;
  --typography-contact-cardsubtitle-font-style: italic;
  --typography-contact-cardsubtitle-hover-font-family: "Open Sans", Helvetica;
  --typography-contact-cardsubtitle-hover-font-weight: 400;
  --typography-contact-cardsubtitle-hover-font-size: 14.226720809936523px;
  --typography-contact-cardsubtitle-hover-letter-spacing: 1.0161943435668945px;
  --typography-contact-cardsubtitle-hover-line-height: 28.453441619873047px;
  --typography-contact-cardsubtitle-hover-font-style: italic;
  --typography-contact-cardtitle-font-family: "Amatic SC", Helvetica;
  --typography-contact-cardtitle-font-weight: 400;
  --typography-contact-cardtitle-font-size: 45px;
  --typography-contact-cardtitle-letter-spacing: 1px;
  --typography-contact-cardtitle-line-height: 90px;
  --typography-contact-cardtitle-font-style: normal;
  --typography-contact-cardtitle-hover-font-family: "Amatic SC", Helvetica;
  --typography-contact-cardtitle-hover-font-weight: 400;
  --typography-contact-cardtitle-hover-font-size: 45.72874450683594px;
  --typography-contact-cardtitle-hover-letter-spacing: 1.0161943435668945px;
  --typography-contact-cardtitle-hover-line-height: 91.45748901367188px;
  --typography-contact-cardtitle-hover-font-style: normal;
  --typography-coverage-info-font-family: "Open Sans", Helvetica;
  --typography-coverage-info-font-weight: 400;
  --typography-coverage-info-font-size: 20px;
  --typography-coverage-info-letter-spacing: 1px;
  --typography-coverage-info-line-height: 40px;
  --typography-coverage-info-font-style: normal;
  --typography-coverage-locations-font-family: "Amatic SC", Helvetica;
  --typography-coverage-locations-font-weight: 400;
  --typography-coverage-locations-font-size: 45px;
  --typography-coverage-locations-letter-spacing: 4px;
  --typography-coverage-locations-line-height: 72px;
  --typography-coverage-locations-font-style: normal;
  --typography-coverage-title-font-family: "Amatic SC", Helvetica;
  --typography-coverage-title-font-weight: 400;
  --typography-coverage-title-font-size: 46px;
  --typography-coverage-title-letter-spacing: 3px;
  --typography-coverage-title-line-height: 73.5999984741211px;
  --typography-coverage-title-font-style: normal;
  --typography-discounttag-date-title-font-family: "Open Sans", Helvetica;
  --typography-discounttag-date-title-font-weight: 600;
  --typography-discounttag-date-title-font-size: 10.600000381469727px;
  --typography-discounttag-date-title-letter-spacing: 0px;
  --typography-discounttag-date-title-line-height: 18px;
  --typography-discounttag-date-title-font-style: normal;
  --typography-discounttag-date-title-hover-font-family: "Open Sans", Helvetica;
  --typography-discounttag-date-title-hover-font-weight: 600;
  --typography-discounttag-date-title-hover-font-size: 11.652482032775879px;
  --typography-discounttag-date-title-hover-letter-spacing: 0px;
  --typography-discounttag-date-title-hover-line-height: 19.787233352661133px;
  --typography-discounttag-date-title-hover-font-style: italic;
  --typography-discounttag-mobile-font-family: "Open Sans", Helvetica;
  --typography-discounttag-mobile-font-weight: 400;
  --typography-discounttag-mobile-font-size: 12px;
  --typography-discounttag-mobile-letter-spacing: 0.72px;
  --typography-discounttag-mobile-line-height: 16.799999237060547px;
  --typography-discounttag-mobile-font-style: normal;
  --typography-discounttag-price-font-family: "Open Sans", Helvetica;
  --typography-discounttag-price-font-weight: 600;
  --typography-discounttag-price-font-size: 38px;
  --typography-discounttag-price-letter-spacing: 0px;
  --typography-discounttag-price-line-height: 64.5999984741211px;
  --typography-discounttag-price-font-style: normal;
  --typography-discounttag-price-hover-font-family: "Open Sans", Helvetica;
  --typography-discounttag-price-hover-font-weight: 600;
  --typography-discounttag-price-hover-font-size: 41.773048400878906px;
  --typography-discounttag-price-hover-letter-spacing: 0px;
  --typography-discounttag-price-hover-line-height: 71.0141830444336px;
  --typography-discounttag-price-hover-font-style: normal;
  --typography-examples-cardtitle-font-family: "Open Sans", Helvetica;
  --typography-examples-cardtitle-font-weight: 400;
  --typography-examples-cardtitle-font-size: 20px;
  --typography-examples-cardtitle-letter-spacing: 1px;
  --typography-examples-cardtitle-line-height: 40px;
  --typography-examples-cardtitle-font-style: normal;
  --typography-examples-cardlocation-font-family: "Open Sans", Helvetica;
  --typography-examples-cardlocation-font-weight: 400;
  --typography-examples-cardlocation-font-size: 15px;
  --typography-examples-cardlocation-letter-spacing: 1px;
  --typography-examples-cardlocation-line-height: 30px;
  --typography-examples-cardlocation-font-style: italic;
  --typography-examples-cardtitlelgbt-font-family: "Open Sans", Helvetica;
  --typography-examples-cardtitlelgbt-font-weight: 400;
  --typography-examples-cardtitlelgbt-font-size: 20px;
  --typography-examples-cardtitlelgbt-letter-spacing: 1px;
  --typography-examples-cardtitlelgbt-line-height: 40px;
  --typography-examples-cardtitlelgbt-font-style: normal;
  --typography-examples-cardlocationlgbt-font-family: "Open Sans", Helvetica;
  --typography-examples-cardlocationlgbt-font-weight: 400;
  --typography-examples-cardlocationlgbt-font-size: 15px;
  --typography-examples-cardlocationlgbt-letter-spacing: 1px;
  --typography-examples-cardlocationlgbt-line-height: 30px;
  --typography-examples-cardlocationlgbt-font-style: italic;
  --typography-examples-cardtitle-hover-font-family: "Open Sans", Helvetica;
  --typography-examples-cardtitle-hover-font-weight: 400;
  --typography-examples-cardtitle-hover-font-size: 20.58035659790039px;
  --typography-examples-cardtitle-hover-letter-spacing: 1.0290178060531616px;
  --typography-examples-cardtitle-hover-line-height: 41.16071319580078px;
  --typography-examples-cardtitle-hover-font-style: normal;
  --typography-examples-cardlocation-hover-font-family: "Open Sans", Helvetica;
  --typography-examples-cardlocation-hover-font-weight: 400;
  --typography-examples-cardlocation-hover-font-size: 15.435267448425293px;
  --typography-examples-cardlocation-hover-letter-spacing: 1.0290178060531616px;
  --typography-examples-cardlocation-hover-line-height: 30.870534896850586px;
  --typography-examples-cardlocation-hover-font-style: italic;
  --typography-examples-cardtitlelgbt-hover-font-family: "Open Sans", Helvetica;
  --typography-examples-cardtitlelgbt-hover-font-weight: 400;
  --typography-examples-cardtitlelgbt-hover-font-size: 20.58035659790039px;
  --typography-examples-cardtitlelgbt-hover-letter-spacing: 1.0290178060531616px;
  --typography-examples-cardtitlelgbt-hover-line-height: 41.16071319580078px;
  --typography-examples-cardtitlelgbt-hover-font-style: normal;
  --typography-examples-cardlocationlgbt-hover-font-family: "Open Sans",
    Helvetica;
  --typography-examples-cardlocationlgbt-hover-font-weight: 400;
  --typography-examples-cardlocationlgbt-hover-font-size: 15.435267448425293px;
  --typography-examples-cardlocationlgbt-hover-letter-spacing: 1.0290178060531616px;
  --typography-examples-cardlocationlgbt-hover-line-height: 30.870534896850586px;
  --typography-examples-cardlocationlgbt-hover-font-style: italic;
  --typography-footer-info-font-family: "Open Sans", Helvetica;
  --typography-footer-info-font-weight: 300;
  --typography-footer-info-font-size: 12px;
  --typography-footer-info-letter-spacing: 0px;
  --typography-footer-info-line-height: 23px;
  --typography-footer-info-font-style: normal;
  --typography-footer-title-font-family: "Amatic SC", Helvetica;
  --typography-footer-title-font-weight: 400;
  --typography-footer-title-font-size: 45px;
  --typography-footer-title-letter-spacing: 0px;
  --typography-footer-title-line-height: 45px;
  --typography-footer-title-font-style: normal;
  --typography-header-menu-font-family: "Open Sans", Helvetica;
  --typography-header-menu-font-weight: 600;
  --typography-header-menu-font-size: 14px;
  --typography-header-menu-letter-spacing: 0px;
  --typography-header-menu-line-height: 16.799999237060547px;
  --typography-header-menu-font-style: normal;
  --typography-hero-subtitle-font-family: "Amatic SC", Helvetica;
  --typography-hero-subtitle-font-weight: 400;
  --typography-hero-subtitle-font-size: 55px;
  --typography-hero-subtitle-letter-spacing: 3px;
  --typography-hero-subtitle-line-height: 55px;
  --typography-hero-subtitle-font-style: normal;
  --typography-hero-title-font-family: "Amatic SC", Helvetica;
  --typography-hero-title-font-weight: 400;
  --typography-hero-title-font-size: 80px;
  --typography-hero-title-letter-spacing: 2px;
  --typography-hero-title-line-height: 80px;
  --typography-hero-title-font-style: normal;
  --typography-packages-discount-font-family: "Open Sans", Helvetica;
  --typography-packages-discount-font-weight: 400;
  --typography-packages-discount-font-size: 14px;
  --typography-packages-discount-letter-spacing: 1px;
  --typography-packages-discount-line-height: 18.200000762939453px;
  --typography-packages-discount-font-style: normal;
  --typography-packages-discount-hover-font-family: "Open Sans", Helvetica;
  --typography-packages-discount-hover-font-weight: 400;
  --typography-packages-discount-hover-font-size: 14.16766357421875px;
  --typography-packages-discount-hover-letter-spacing: 1.0119760036468506px;
  --typography-packages-discount-hover-line-height: 18.417964935302734px;
  --typography-packages-discount-hover-font-style: normal;
  --typography-packages-description-font-family: "Open Sans", Helvetica;
  --typography-packages-description-font-weight: 400;
  --typography-packages-description-font-size: 16px;
  --typography-packages-description-letter-spacing: 1px;
  --typography-packages-description-line-height: 32px;
  --typography-packages-description-font-style: italic;
  --typography-packages-description-hover-font-family: "Open Sans", Helvetica;
  --typography-packages-description-hover-font-weight: 400;
  --typography-packages-description-hover-font-size: 16.19161605834961px;
  --typography-packages-description-hover-letter-spacing: 1.0119760036468506px;
  --typography-packages-description-hover-line-height: 32.38323211669922px;
  --typography-packages-description-hover-font-style: italic;
  --typography-packages-feature-font-family: "Open Sans", Helvetica;
  --typography-packages-feature-font-weight: 400;
  --typography-packages-feature-font-size: 16px;
  --typography-packages-feature-letter-spacing: 1px;
  --typography-packages-feature-line-height: 32px;
  --typography-packages-feature-font-style: normal;
  --typography-packages-feature-hover-font-family: "Open Sans", Helvetica;
  --typography-packages-feature-hover-font-weight: 400;
  --typography-packages-feature-hover-font-size: 16.19161605834961px;
  --typography-packages-feature-hover-letter-spacing: 1.0119760036468506px;
  --typography-packages-feature-hover-line-height: 32.38323211669922px;
  --typography-packages-feature-hover-font-style: normal;
  --typography-packages-newprice-font-family: "Amatic SC", Helvetica;
  --typography-packages-newprice-font-weight: 400;
  --typography-packages-newprice-font-size: 58px;
  --typography-packages-newprice-letter-spacing: 2px;
  --typography-packages-newprice-line-height: 58px;
  --typography-packages-newprice-font-style: normal;
  --typography-packages-newprice-hover-font-family: "Amatic SC", Helvetica;
  --typography-packages-newprice-hover-font-weight: 400;
  --typography-packages-newprice-hover-font-size: 58.69460678100586px;
  --typography-packages-newprice-hover-letter-spacing: 2.023952007293701px;
  --typography-packages-newprice-hover-line-height: 58.69460678100586px;
  --typography-packages-newprice-hover-font-style: normal;
  --typography-packages-oldprice-font-family: "Amatic SC", Helvetica;
  --typography-packages-oldprice-font-weight: 400;
  --typography-packages-oldprice-font-size: 36px;
  --typography-packages-oldprice-letter-spacing: 2px;
  --typography-packages-oldprice-line-height: 36px;
  --typography-packages-oldprice-font-style: normal;
  --typography-packages-oldprice-hover-font-family: "Amatic SC", Helvetica;
  --typography-packages-oldprice-hover-font-weight: 400;
  --typography-packages-oldprice-hover-font-size: 36.43113708496094px;
  --typography-packages-oldprice-hover-letter-spacing: 2.023952007293701px;
  --typography-packages-oldprice-hover-line-height: 36.43113708496094px;
  --typography-packages-oldprice-hover-font-style: normal;
  --typography-packages-permonthprice-font-family: "Amatic SC", Helvetica;
  --typography-packages-permonthprice-font-weight: 400;
  --typography-packages-permonthprice-font-size: 25px;
  --typography-packages-permonthprice-letter-spacing: 2px;
  --typography-packages-permonthprice-line-height: 50px;
  --typography-packages-permonthprice-font-style: normal;
  --typography-packages-permonthprice-hover-font-family: "Amatic SC", Helvetica;
  --typography-packages-permonthprice-hover-font-weight: 400;
  --typography-packages-permonthprice-hover-font-size: 25.299400329589844px;
  --typography-packages-permonthprice-hover-letter-spacing: 2.023952007293701px;
  --typography-packages-permonthprice-hover-line-height: 50.59880065917969px;
  --typography-packages-permonthprice-hover-font-style: normal;
  --typography-packages-title-font-family: "Amatic SC", Helvetica;
  --typography-packages-title-font-weight: 400;
  --typography-packages-title-font-size: 40px;
  --typography-packages-title-letter-spacing: 2px;
  --typography-packages-title-line-height: 80px;
  --typography-packages-title-font-style: normal;
  --typography-packages-title-hover-font-family: "Amatic SC", Helvetica;
  --typography-packages-title-hover-font-weight: 400;
  --typography-packages-title-hover-font-size: 40.479042053222656px;
  --typography-packages-title-hover-letter-spacing: 2.023952007293701px;
  --typography-packages-title-hover-line-height: 80.95808410644531px;
  --typography-packages-title-hover-font-style: normal;
  --typography-section-description-font-family: "Open Sans", Helvetica;
  --typography-section-description-font-weight: 400;
  --typography-section-description-font-size: 18px;
  --typography-section-description-letter-spacing: 1px;
  --typography-section-description-line-height: 36px;
  --typography-section-description-font-style: normal;
  --typography-section-divider-font-family: "Open Sans", Helvetica;
  --typography-section-divider-font-weight: 400;
  --typography-section-divider-font-size: 17px;
  --typography-section-divider-letter-spacing: 0px;
  --typography-section-divider-line-height: 28.899999618530273px;
  --typography-section-divider-font-style: normal;
  --typography-section-title-font-family: "Amatic SC", Helvetica;
  --typography-section-title-font-weight: 400;
  --typography-section-title-font-size: 60px;
  --typography-section-title-letter-spacing: 2px;
  --typography-section-title-line-height: 60px;
  --typography-section-title-font-style: normal;
  --typography-testimonial-name-location-font-family: "Open Sans", Helvetica;
  --typography-testimonial-name-location-font-weight: 300;
  --typography-testimonial-name-location-font-size: 20px;
  --typography-testimonial-name-location-letter-spacing: 1px;
  --typography-testimonial-name-location-line-height: 40px;
  --typography-testimonial-name-location-font-style: italic;
  --typography-testimonial-quote-font-family: "Amatic SC", Helvetica;
  --typography-testimonial-quote-font-weight: 400;
  --typography-testimonial-quote-font-size: 46px;
  --typography-testimonial-quote-letter-spacing: 3px;
  --typography-testimonial-quote-line-height: 74px;
  --typography-testimonial-quote-font-style: normal;
  --heading-desktop-h1-font-family: "Roboto", Helvetica;
  --heading-desktop-h1-font-weight: 700;
  --heading-desktop-h1-font-size: 56px;
  --heading-desktop-h1-letter-spacing: 0px;
  --heading-desktop-h1-line-height: 120.00000476837158%;
  --heading-desktop-h1-font-style: normal;
  --heading-desktop-h2-font-family: "Roboto", Helvetica;
  --heading-desktop-h2-font-weight: 700;
  --heading-desktop-h2-font-size: 48px;
  --heading-desktop-h2-letter-spacing: 0px;
  --heading-desktop-h2-line-height: 120.00000476837158%;
  --heading-desktop-h2-font-style: normal;
  --heading-desktop-h3-font-family: "Roboto", Helvetica;
  --heading-desktop-h3-font-weight: 700;
  --heading-desktop-h3-font-size: 40px;
  --heading-desktop-h3-letter-spacing: 0px;
  --heading-desktop-h3-line-height: 120.00000476837158%;
  --heading-desktop-h3-font-style: normal;
  --heading-desktop-h4-font-family: "Roboto", Helvetica;
  --heading-desktop-h4-font-weight: 700;
  --heading-desktop-h4-font-size: 32px;
  --heading-desktop-h4-letter-spacing: 0px;
  --heading-desktop-h4-line-height: 129.99999523162842%;
  --heading-desktop-h4-font-style: normal;
  --heading-desktop-h5-font-family: "Roboto", Helvetica;
  --heading-desktop-h5-font-weight: 700;
  --heading-desktop-h5-font-size: 24px;
  --heading-desktop-h5-letter-spacing: 0px;
  --heading-desktop-h5-line-height: 139.9999976158142%;
  --heading-desktop-h5-font-style: normal;
  --heading-desktop-h6-font-family: "Roboto", Helvetica;
  --heading-desktop-h6-font-weight: 700;
  --heading-desktop-h6-font-size: 20px;
  --heading-desktop-h6-letter-spacing: 0px;
  --heading-desktop-h6-line-height: 139.9999976158142%;
  --heading-desktop-h6-font-style: normal;
  --heading-desktop-tagline-font-family: "Roboto", Helvetica;
  --heading-desktop-tagline-font-weight: 600;
  --heading-desktop-tagline-font-size: 16px;
  --heading-desktop-tagline-letter-spacing: 0px;
  --heading-desktop-tagline-line-height: 150%;
  --heading-desktop-tagline-font-style: normal;
  --heading-mobile-h1-font-family: "Roboto", Helvetica;
  --heading-mobile-h1-font-weight: 700;
  --heading-mobile-h1-font-size: 40px;
  --heading-mobile-h1-letter-spacing: 0px;
  --heading-mobile-h1-line-height: 120.00000476837158%;
  --heading-mobile-h1-font-style: normal;
  --heading-mobile-h2-font-family: "Roboto", Helvetica;
  --heading-mobile-h2-font-weight: 700;
  --heading-mobile-h2-font-size: 36px;
  --heading-mobile-h2-letter-spacing: 0px;
  --heading-mobile-h2-line-height: 120.00000476837158%;
  --heading-mobile-h2-font-style: normal;
  --heading-mobile-h3-font-family: "Roboto", Helvetica;
  --heading-mobile-h3-font-weight: 700;
  --heading-mobile-h3-font-size: 32px;
  --heading-mobile-h3-letter-spacing: 0px;
  --heading-mobile-h3-line-height: 120.00000476837158%;
  --heading-mobile-h3-font-style: normal;
  --heading-mobile-h4-font-family: "Roboto", Helvetica;
  --heading-mobile-h4-font-weight: 700;
  --heading-mobile-h4-font-size: 24px;
  --heading-mobile-h4-letter-spacing: 0px;
  --heading-mobile-h4-line-height: 139.9999976158142%;
  --heading-mobile-h4-font-style: normal;
  --heading-mobile-h5-font-family: "Roboto", Helvetica;
  --heading-mobile-h5-font-weight: 700;
  --heading-mobile-h5-font-size: 20px;
  --heading-mobile-h5-letter-spacing: 0px;
  --heading-mobile-h5-line-height: 139.9999976158142%;
  --heading-mobile-h5-font-style: normal;
  --heading-mobile-h6-font-family: "Roboto", Helvetica;
  --heading-mobile-h6-font-weight: 700;
  --heading-mobile-h6-font-size: 18px;
  --heading-mobile-h6-letter-spacing: 0px;
  --heading-mobile-h6-line-height: 139.9999976158142%;
  --heading-mobile-h6-font-style: normal;
  --text-large-light-font-family: "Roboto", Helvetica;
  --text-large-light-font-weight: 300;
  --text-large-light-font-size: 20px;
  --text-large-light-letter-spacing: 0px;
  --text-large-light-line-height: 150%;
  --text-large-light-font-style: normal;
  --text-large-normal-font-family: "Roboto", Helvetica;
  --text-large-normal-font-weight: 400;
  --text-large-normal-font-size: 20px;
  --text-large-normal-letter-spacing: 0px;
  --text-large-normal-line-height: 150%;
  --text-large-normal-font-style: normal;
  --text-large-medium-font-family: "Roboto", Helvetica;
  --text-large-medium-font-weight: 500;
  --text-large-medium-font-size: 20px;
  --text-large-medium-letter-spacing: 0px;
  --text-large-medium-line-height: 150%;
  --text-large-medium-font-style: normal;
  --text-large-semi-bold-font-family: "Roboto", Helvetica;
  --text-large-semi-bold-font-weight: 600;
  --text-large-semi-bold-font-size: 20px;
  --text-large-semi-bold-letter-spacing: 0px;
  --text-large-semi-bold-line-height: 150%;
  --text-large-semi-bold-font-style: normal;
  --text-large-bold-font-family: "Roboto", Helvetica;
  --text-large-bold-font-weight: 700;
  --text-large-bold-font-size: 20px;
  --text-large-bold-letter-spacing: 0px;
  --text-large-bold-line-height: 150%;
  --text-large-bold-font-style: normal;
  --text-large-extra-bold-font-family: "Roboto", Helvetica;
  --text-large-extra-bold-font-weight: 800;
  --text-large-extra-bold-font-size: 20px;
  --text-large-extra-bold-letter-spacing: 0px;
  --text-large-extra-bold-line-height: 150%;
  --text-large-extra-bold-font-style: normal;
  --text-large-link-font-family: "Roboto", Helvetica;
  --text-large-link-font-weight: 400;
  --text-large-link-font-size: 20px;
  --text-large-link-letter-spacing: 0px;
  --text-large-link-line-height: 150%;
  --text-large-link-font-style: normal;
  --text-medium-light-font-family: "Roboto", Helvetica;
  --text-medium-light-font-weight: 300;
  --text-medium-light-font-size: 18px;
  --text-medium-light-letter-spacing: 0px;
  --text-medium-light-line-height: 150%;
  --text-medium-light-font-style: normal;
  --text-medium-normal-font-family: "Roboto", Helvetica;
  --text-medium-normal-font-weight: 400;
  --text-medium-normal-font-size: 18px;
  --text-medium-normal-letter-spacing: 0px;
  --text-medium-normal-line-height: 150%;
  --text-medium-normal-font-style: normal;
  --text-medium-medium-font-family: "Roboto", Helvetica;
  --text-medium-medium-font-weight: 500;
  --text-medium-medium-font-size: 18px;
  --text-medium-medium-letter-spacing: 0px;
  --text-medium-medium-line-height: 150%;
  --text-medium-medium-font-style: normal;
  --text-medium-semi-bold-font-family: "Roboto", Helvetica;
  --text-medium-semi-bold-font-weight: 600;
  --text-medium-semi-bold-font-size: 18px;
  --text-medium-semi-bold-letter-spacing: 0px;
  --text-medium-semi-bold-line-height: 150%;
  --text-medium-semi-bold-font-style: normal;
  --text-medium-bold-font-family: "Roboto", Helvetica;
  --text-medium-bold-font-weight: 700;
  --text-medium-bold-font-size: 18px;
  --text-medium-bold-letter-spacing: 0px;
  --text-medium-bold-line-height: 150%;
  --text-medium-bold-font-style: normal;
  --text-medium-extra-bold-font-family: "Roboto", Helvetica;
  --text-medium-extra-bold-font-weight: 700;
  --text-medium-extra-bold-font-size: 18px;
  --text-medium-extra-bold-letter-spacing: 0px;
  --text-medium-extra-bold-line-height: 150%;
  --text-medium-extra-bold-font-style: normal;
  --text-medium-link-font-family: "Roboto", Helvetica;
  --text-medium-link-font-weight: 400;
  --text-medium-link-font-size: 18px;
  --text-medium-link-letter-spacing: 0px;
  --text-medium-link-line-height: 150%;
  --text-medium-link-font-style: normal;
  --text-regular-light-font-family: "Roboto", Helvetica;
  --text-regular-light-font-weight: 300;
  --text-regular-light-font-size: 16px;
  --text-regular-light-letter-spacing: 0px;
  --text-regular-light-line-height: 150%;
  --text-regular-light-font-style: normal;
  --text-regular-normal-font-family: "Roboto", Helvetica;
  --text-regular-normal-font-weight: 400;
  --text-regular-normal-font-size: 16px;
  --text-regular-normal-letter-spacing: 0px;
  --text-regular-normal-line-height: 150%;
  --text-regular-normal-font-style: normal;
  --text-regular-medium-font-family: "Roboto", Helvetica;
  --text-regular-medium-font-weight: 500;
  --text-regular-medium-font-size: 16px;
  --text-regular-medium-letter-spacing: 0px;
  --text-regular-medium-line-height: 150%;
  --text-regular-medium-font-style: normal;
  --text-regular-semi-bold-font-family: "Roboto", Helvetica;
  --text-regular-semi-bold-font-weight: 600;
  --text-regular-semi-bold-font-size: 16px;
  --text-regular-semi-bold-letter-spacing: 0px;
  --text-regular-semi-bold-line-height: 150%;
  --text-regular-semi-bold-font-style: normal;
  --text-regular-bold-font-family: "Roboto", Helvetica;
  --text-regular-bold-font-weight: 700;
  --text-regular-bold-font-size: 16px;
  --text-regular-bold-letter-spacing: 0px;
  --text-regular-bold-line-height: 150%;
  --text-regular-bold-font-style: normal;
  --text-regular-extra-bold-font-family: "Roboto", Helvetica;
  --text-regular-extra-bold-font-weight: 800;
  --text-regular-extra-bold-font-size: 16px;
  --text-regular-extra-bold-letter-spacing: 0px;
  --text-regular-extra-bold-line-height: 150%;
  --text-regular-extra-bold-font-style: normal;
  --text-regular-link-font-family: "Roboto", Helvetica;
  --text-regular-link-font-weight: 400;
  --text-regular-link-font-size: 16px;
  --text-regular-link-letter-spacing: 0px;
  --text-regular-link-line-height: 150%;
  --text-regular-link-font-style: normal;
  --text-small-light-font-family: "Roboto", Helvetica;
  --text-small-light-font-weight: 300;
  --text-small-light-font-size: 14px;
  --text-small-light-letter-spacing: 0px;
  --text-small-light-line-height: 150%;
  --text-small-light-font-style: normal;
  --text-small-normal-font-family: "Roboto", Helvetica;
  --text-small-normal-font-weight: 400;
  --text-small-normal-font-size: 14px;
  --text-small-normal-letter-spacing: 0px;
  --text-small-normal-line-height: 150%;
  --text-small-normal-font-style: normal;
  --text-small-medium-font-family: "Roboto", Helvetica;
  --text-small-medium-font-weight: 500;
  --text-small-medium-font-size: 14px;
  --text-small-medium-letter-spacing: 0px;
  --text-small-medium-line-height: 150%;
  --text-small-medium-font-style: normal;
  --text-small-semi-bold-font-family: "Roboto", Helvetica;
  --text-small-semi-bold-font-weight: 600;
  --text-small-semi-bold-font-size: 14px;
  --text-small-semi-bold-letter-spacing: 0px;
  --text-small-semi-bold-line-height: 150%;
  --text-small-semi-bold-font-style: normal;
  --text-small-bold-font-family: "Roboto", Helvetica;
  --text-small-bold-font-weight: 700;
  --text-small-bold-font-size: 14px;
  --text-small-bold-letter-spacing: 0px;
  --text-small-bold-line-height: 150%;
  --text-small-bold-font-style: normal;
  --text-small-extra-bold-font-family: "Roboto", Helvetica;
  --text-small-extra-bold-font-weight: 800;
  --text-small-extra-bold-font-size: 14px;
  --text-small-extra-bold-letter-spacing: 0px;
  --text-small-extra-bold-line-height: 150%;
  --text-small-extra-bold-font-style: normal;
  --text-small-link-font-family: "Roboto", Helvetica;
  --text-small-link-font-weight: 400;
  --text-small-link-font-size: 14px;
  --text-small-link-letter-spacing: 0px;
  --text-small-link-line-height: 150%;
  --text-small-link-font-style: normal;
  --text-tiny-light-font-family: "Roboto", Helvetica;
  --text-tiny-light-font-weight: 300;
  --text-tiny-light-font-size: 12px;
  --text-tiny-light-letter-spacing: 0px;
  --text-tiny-light-line-height: 150%;
  --text-tiny-light-font-style: normal;
  --text-tiny-normal-font-family: "Roboto", Helvetica;
  --text-tiny-normal-font-weight: 400;
  --text-tiny-normal-font-size: 12px;
  --text-tiny-normal-letter-spacing: 0px;
  --text-tiny-normal-line-height: 150%;
  --text-tiny-normal-font-style: normal;
  --text-tiny-medium-font-family: "Roboto", Helvetica;
  --text-tiny-medium-font-weight: 500;
  --text-tiny-medium-font-size: 12px;
  --text-tiny-medium-letter-spacing: 0px;
  --text-tiny-medium-line-height: 150%;
  --text-tiny-medium-font-style: normal;
  --text-tiny-semi-bold-font-family: "Roboto", Helvetica;
  --text-tiny-semi-bold-font-weight: 600;
  --text-tiny-semi-bold-font-size: 12px;
  --text-tiny-semi-bold-letter-spacing: 0px;
  --text-tiny-semi-bold-line-height: 150%;
  --text-tiny-semi-bold-font-style: normal;
  --text-tiny-bold-font-family: "Roboto", Helvetica;
  --text-tiny-bold-font-weight: 700;
  --text-tiny-bold-font-size: 12px;
  --text-tiny-bold-letter-spacing: 0px;
  --text-tiny-bold-line-height: 150%;
  --text-tiny-bold-font-style: normal;
  --text-tiny-extra-bold-font-family: "Roboto", Helvetica;
  --text-tiny-extra-bold-font-weight: 800;
  --text-tiny-extra-bold-font-size: 12px;
  --text-tiny-extra-bold-letter-spacing: 0px;
  --text-tiny-extra-bold-line-height: 150%;
  --text-tiny-extra-bold-font-style: normal;
  --text-tiny-link-font-family: "Roboto", Helvetica;
  --text-tiny-link-font-weight: 400;
  --text-tiny-link-font-size: 12px;
  --text-tiny-link-letter-spacing: 0px;
  --text-tiny-link-line-height: 150%;
  --text-tiny-link-font-style: normal;
  --xxsmall: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --xsmall: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px
    rgba(0, 0, 0, 0.1);
  --small: 0px 2px 4px -2px rgba(0, 0, 0, 0.06), 0px 4px 8px -2px
    rgba(0, 0, 0, 0.1);
  --medium: 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 12px 16px -4px
    rgba(0, 0, 0, 0.08);
  --large: 0px 8px 8px -4px rgba(0, 0, 0, 0.03), 0px 20px 24px -4px
    rgba(0, 0, 0, 0.08);
  --xlarge: 0px 24px 48px -12px rgba(0, 0, 0, 0.18);
  --xxlarge: 0px 32px 64px -12px rgba(0, 0, 0, 0.14);
}
